<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

 <section class="py-5 text-center container">
        <h1 class="fw-light">Your notebook catalog:</h1>
        <hr>
        <br>
        <p class="lead text-muted">
        
        </p>
        
        <div class="card">
<div class="row py-lg-5">
        <h2>Check out our main offers:</h2>
        
</div>

<div class="container-fluid">
<div class="container text-justify">
  <div class="row">
 
  <% @products.each do |product| %>
 
    <div class="col">
      <%= image_tag(product.image_url) %>
    </div>
    <div class="col">
     <h5><%= product.title %></h5>
     <br>
     <h6><%= number_to_currency(product.price) %></h6>
      <%= button_to 'Add to Cart', line_items_path(product_id: product),
        remote: true %>
    </div>
      <% end %>
  </div>
</div>
 </div>
 </section>
 <br>
 <div class="container-fluid">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      </a>
      <span class="text-muted">&copy; 2022 Company, Inc. All rights reserved.</span>
    </div>
  <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
			<a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram fa-2"></i> <%= image_tag 'instagram.png' =%> </a>
			<a href="https://twitter.com/" target="_blank"><i class="fa fa-twitterfa-2"></i><%= image_tag 'twitter.png' =%></a>
			<a href="https://pt-br.facebook.com/" target="_blank"><i class="fa fa-linkedin fa-2"></i><%= image_tag 'facebook.png' =%></a>
    </ul>
  </footer>
</div>

